<div class="container">
    <h2>DASHBOARD</h2>
    <div class="jumbotron text-muted">Welcome, as an administrator, you will be able to handle students and supervisors
        <div><a class="btn btn-primary mr-3" href="/students/">Manage Students</a><a class="btn btn-success"
                href="/supervisors/">Manage
                Supervisors</a></div>
    </div>
</div>